:root {
  /* ## Colors

### Primary

#### Text */

  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  /* #### Gradient */

  /* Background gradient: */

  --Softviolet: hsl(273, 75%, 66%);
  --softblue: hsl(240, 73%, 65%);

  /* ### Neutral */
  /* 
#### Text */

  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);

  /* #### Dividers */

  --lightgrayishblue: hsl(240, 5%, 91%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: linear-gradient(var(--Softviolet), var(--softblue));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-body {
  height: 70%;
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-symbol {
  position: absolute;
  top: 35px;
  right: 60px;
  width: 260px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.illustration-desktop {
  display: none;
}

.illustration-mobile {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
}

.pattern-mobile {
  display: block;
  width: 220px;
  margin: auto;
  position: absolute;
  top: 55px;
  right: 20px;
}

.pattern-desktop {
  display: none;
}

.desktop-box {
  display: none;
}

.accordion-body {
  width: 90%;
  margin: auto;
  overflow: scroll;
}

.container {
  position: relative;
  margin: auto;
}

.label {
  position: relative;
}

.content {
  position: relative;
  width: 90%;
  height: 0;
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

hr {
  border: 1px solid var(--lightgrayishblue);
  width: 95%;
}

.label-p {
  color: var(--Darkgrayishblue);
  font-size: 12px;
  padding-left: 10px;
}

.label-p:hover {
  color: var(--Softred);
  transition: 0.3s;
  cursor: pointer;
}

.content-p {
  color: var(--Darkgrayishblue);
  padding: 0 10px 0 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 3em;
  font-size: 1.5em;
}

.container.active .content {
  height: 80px;
}

.container.active .label-p {
  color: var(--Verydarkdesaturatedblue);
  font-weight: bolder;
}

.container.active .arrow-down {
  transform: rotateX(180deg);
  transition: all linear 0.3s;
}

/* ######## MEDIA QUERIES ######### */

@media only screen and (min-width: 1100px) {

  .main-body {
    position: relative;
    height: 60vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: left;
    padding-left: 10px;
  }

  .illustration-mobile {
    display: none;
  }

  .illustration-desktop {
    position: absolute;
    display: block;
    width: 350px;
    height: 300px;
    top: 50px;
    right: 20px;
    z-index: 2;
  }

  .pattern-mobile {
    display: none;
  }

  .pattern-desktop {
    position: absolute;
    display: block;
    width: 800px;
    height: 800px;
    top: -250px;
    right: 20px;
  }

  .hero-symbol {
    position: relative;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  .inner-symbol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .desktop-box {
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    top: 150px;
    right: 230px;
    z-index: 3;
  }

  .accordion-body {
    width: 50%;
  }
}
